.connector-anchor {
  width: 8px;
  height: 8px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;
}

.connector-anchor.top-left {
  top: -4px;
  left: -4px;
}

.connector-anchor.top-right {
  top: -4px;
  right: -4px;
}

.connector-anchor.bottom-left {
  bottom: -4px;
  left: -4px;
}

.connector-anchor.bottom-right {
  bottom: -4px;
  right: -4px;
}

.connector-line {
  position: absolute;
  pointer-events: none;
}