<div class="context-area" (contextmenu)="contextMenu($event, contextmenu)">Right Click on here</div>
<nz-dropdown-menu #contextmenu="nzDropdownMenu">
      <ul nz-menu>
            @for(item of defaultMenu; track $index) {
            <li (click)="item.action()" nz-menu-item>
                  <span><i [class]="item.icon"></i></span>
                  <span>
                        {{ item.label}}
                  </span>
            </li>
            @if(item.children) {
            <ul nz-menu>
                  @for(submenu of item.children; track $index) {
                  <li nzDisabled="false" [nzTitle]="submenu.label" (click)="item.action()" nz-submenu>
                        <span><i [class]="item.icon"></i></span>
                        <span>
                              {{ item.label}}
                        </span>
                  </li>

                  }
            </ul>
            }
            }

      </ul>
</nz-dropdown-menu>