<!-- @if (comments().length) {
<nz-list [nzDataSource]="comments()" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" class="relative">
      <ng-template #item let-item>
            <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                  <nz-comment-content>
                        <p>{{ item.content }}</p>
                  </nz-comment-content>
            </nz-comment>
      </ng-template>
</nz-list>
} -->