<!-- app.component.html -->
<div class="collab-container top-0 right-0">
      @for(user of UsersInSession(); track user.id) {
      @if(user.id !== userId) {
      <div [ngStyle]="{'top.px': user.cursor.position.y, 'left.px': user.cursor.position.x}" class="absolute">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0,0,255.99431,255.99431" width="30px" height="30px">
                  <g [attr.fill]="user.cursor.color" fill-rule="nonzero" stroke="none" stroke-width="1"
                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                        stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                              <path
                                    d="M9,3c-0.55228,0 -1,0.44772 -1,1v17c0,0.55228 0.44772,1 1,1c0.31338,-0.00061 0.60836,-0.1481 0.79688,-0.39844l3.12305,-3.48242l3.46289,7.99805c0.319,0.738 1.18402,1.07128 1.91602,0.73828c0.722,-0.328 1.04184,-1.17739 0.71484,-1.90039l-3.57422,-7.91602l5.56055,-0.03906c0.55228,0 1,-0.44772 1,-1c-0.00004,-0.30184 -0.13642,-0.58751 -0.37109,-0.77734l-11.8457,-11.84375c-0.18956,-0.23921 -0.47799,-0.37874 -0.7832,-0.37891z">
                              </path>
                        </g>
                  </g>
            </svg>
            <div class="flex justify-center items-center bg-slate-100 p-2 rounded-md shadow-sm ml-5 space-x-3">

                  <span>{{user.name}}</span>
                  <img [src]="user.avatar" alt="avatar" class="w-6 h-6 rounded-md">
            </div>

      </div>
      }

      }
</div>