<div class="w-full h-full grid grid-cols-12 grid-flow-row justify-center items-center">

      <section #canvas
            class="jamboard w-full h-full col-span-12 lg:col-span-10 grid grid-cols-4 gap-2 justify-center items-center !overflow-hidden relative">
            @for(element of jamboardStore.state.elements(); track element.id) {
            @switch (element.type) {
            @case ("note") {
            <app-note (elementUpdate)="updateJamBoardState($event)" [dataSource]="element" class="flex !w-fit">
                  <div slot="header">header</div>
                  <div slot="content">main</div>
                  <div slot="detail">detail</div>
            </app-note>
            }
            @case ("tag") {
            <app-tag (elementUpdate)="updateJamBoardState($event)" [dataSource]="element">
                  <!-- <header ngExportAs="[slot=header]">{{element.data.content.text}}</header> -->
                  {{element.content.text}}
            </app-tag>
            }
            @case ("button") {
            <app-button (elementUpdate)="updateJamBoardState($event)" [dataSource]="element">
                  {{element.content.text}}
            </app-button>
            }
            @case ("dropdown") {
            <app-drop-down [menuItems]="" (elementUpdate)="updateJamBoardState($event)" [dataSource]="element">
                  {{element.content.text}}
            </app-drop-down>
            }
            }

            }@empty {
            <!-- <div class="slider-container">
                  <span>Horizontal Gutter (px):</span>
                  <div class="slider">
                        <nz-slider [nzMarks]="marksHGutter" [nzStep]="null" [nzMin]="8" [nzMax]="48"
                              [(ngModel)]="hGutter"></nz-slider>
                  </div>
                  <span>Vertical Gutter (px):</span>
                  <div class="slider">
                        <nz-slider [nzMarks]="marksVGutter" [nzStep]="null" [nzMin]="8" [nzMax]="48"
                              [(ngModel)]="vGutter"></nz-slider>
                  </div>
                  <span>Column Count:</span>
                  <div class="slider">
                        <nz-slider [nzMarks]="marksCount" [nzStep]="null" [nzMin]="2" [nzMax]="12" [(ngModel)]="count"
                              (ngModelChange)="reGenerateArray($event)"></nz-slider>
                  </div>
            </div> -->
            }
            <app-comment-flow [comments]="jamboardStore.state.comments()" />
      </section>

      <section class="w-full h-full col-span-2 justify-center items-center  hidden lg:block">
            <app-jamsidebar [activeSettings]="activeSettings()"></app-jamsidebar>
      </section>
</div>