<div class="w-full h-full p-2 bg-slate-100 flex flex-col justify-start items-center">

      <section class="w-fullflex flex-col justify-center items-center">
            <h3 class="mt-2">Tags</h3>
            <div>
                  <nz-divider nzType="horizontal"></nz-divider>
            </div>
            <div class="w-full grid grid-cols-4 gap-3 justify-center items-center">
                  @for(tag of tags; track $index ) {
                  <!-- <app-tag [dataSource]="tag" class="!col-span-1 cursor-grab" [color]="tag.appearence.color!">asas</app-tag> -->
                  <app-tag class="!col-span-1 cursor-grab" [color]="tag.appearence.color!">Tag</app-tag>
                  }
            </div>
      </section>


</div>