<div #note [ngClass]="{'pinned': pinned()}" [style.opacity]="opacity()" [style.width]="width() + 'px'" [style.height]="height()+ 'px'"
      class="bg-slate-400 rounded-lg shadow-md">
      <div class="flex justify-start items-center">
            <ng-content select="[slot=header]"></ng-content>
      </div>
      <div class="bg-red-500 p-5 flex justify-center">
            <ng-content select="[slot=content]"></ng-content>
      </div>
      <div class="mt-3">
            <ng-content select="[slot=detail]"></ng-content>
      </div>
</div>