<div class="cursor-grabbing w-full"
      [ngClass]="{ 'pinned': noteState()?.isPinned, 'resize-handle': noteState()?.isBeingResized, 'cursor-grabbing': noteState()?.isBeingDragged}"
      [style.opacity]="noteState()?.appearence?.opacity" [style.width]="noteState()?.size?.width + 'px'"
      [style.height]="noteState()?.size?.height + 'px'" class="">
      <div class="flex justify-start items-center">
            <ng-content select="[slot=header]"></ng-content>
      </div>
      <div class="p-5 flex justify-center">
            <ng-content select="[slot=content]"></ng-content>
      </div>
      <div class="mt-3">
            <ng-content select="[slot=detail]"></ng-content>
      </div>
</div>