<!-- @switch (elementType()) {
@case ("note") {
<app-note [dataSource]="dataSource()" class="flex !w-fit">
      <div slot="header">header</div>
      <div slot="content">main</div>
      <div slot="detail">detail</div>
</app-note>
}
@case ("tag") {
<app-tag [dataSource]="dataSource()">
      <header ngExportAs="[slot=header]">{{dataSource().content.text}}</header>
      {{dataSource().content.text}}
</app-tag>
}
@case ("button") {
<app-button [dataSource]="dataSource()">
      {{dataSource().content.text}}
</app-button>
}
} -->