<div class="!cursor-grab" [id]="elementState.id()" canDragdrop canResize [minAllowedSize]="40" [maxAllowedSize]="120"
      [latestPosition]="elementState().position" [latestSize]="elementState().size"
      (positionUpdate)="dispatchEvent('position', $event)" (sizeUpdate)="dispatchEvent('size', $event)">
      <nz-tag class="!w-full !h-full" [nzColor]="dataSource().appearence.color">
            <div [style.width.px]="elementState().size.width" [style.height.px]="elementState().size.height">
                  <ng-content class="!bg-red-700"></ng-content>

            </div>
      </nz-tag>
</div>